
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Times New Roman",  Georgia, Serif;
}


h1 {
    font-size: 24px;
    text-align: center;
}


h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
   
}

h3 {
    text-align: center;
    font-size: 22px;
}

h4 {
    text-align: left;
    font-size: 20px;
    margin: 0px;
    border-bottom: solid black 2px;
}

.textCenter {
    width: 62%;
    margin-left: auto;
    margin-right: auto;
}

.clean {
    text-decoration: none;
    color: black;
}

.blue-clean {
    text-decoration: none;
    color: blue;
}

.paragraphDivider {
    padding-bottom: 20px;
}

.periodOutliner {
    font-weight: bold; 
    margin: 0px; 
    font-style: italic;
}

#header-wrapper {
    background-color: #d3dded;
    padding: 10px 0 6px 0;
    width: 100%;
}

ul#menu {
    padding: 5px 10px;
    /*background: #00FF00;*/
    background: #2556a7;
    height: 30px;
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    position: relative;
    min-width: 400px;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #d3dded;
    color: black;
}

p {
    font-size: 18px;
    
}

ul#vert {
    text-decoration: none;
    font-size: 18px;
    background: white;
    height: 100%;
    position: relative;
    list-style-type: none;
    float: left;
    margin-left: 4%;
    padding-right: 2%;
}

@media (max-width: 1000px) {
    ul#vert{
        display: none;
        }
    }

ul#vert li{
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 30px;
}

ul#vert li:hover {
    background: white;
}

.bottom {  
    position: fixed; 
    bottom: 0;
    text-align: right;
    margin: 0 0 0 1%;
}
